footer {
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin: 50px;
    margin-top: 100px;



    ul {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;
    }

    li {
        text-align: center;
        font-weight: bold;
    }

    .inline {
        display: flex;
        flex-direction: column;
    }
    p {
        justify-content: center;
        text-align: justify;
        
    }


    li {
        color: #2b78fa;
        font-size: 1.2em;

    }

    i {
        color: #2b78fa;
        width: 100px !important;
        height: 100px !important;
    }
    
    span {
        color: #2b78fa;
    }

    .social-media {
        display: flex;
        gap: 30px;
    }

}


